.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.registration-card {
  max-width: 520px;
   width: 100%;
   text-align: center;
 }

form {
  display: flex;
  flex-direction: column;
  margin: 20px
}
mat-label{
  text-align: left;
  vertical-align: center;
  margin-left: 10px;
}
input{
  width: 100%;
  background-color: rgba(241, 241, 241, 0.78);
  height: 40px;
}

mat-card-header{
  font-family: Lato, Helvetica, sans-serif;
  font-style: normal;
  margin-left: 30%;
  margin-top: 30px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

button{
  width: 100px;
margin-left: 33%;
  margin-top: 20px;

}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-top: 5px;
  margin-right: 5px;
}

p{
  color: indianred;
}
