.accommodation {
  padding: 10px;
  text-align: center;
  margin: 10px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  float: left;
}

.accommodations-container {
  overflow: hidden;
}

img {
  width: 70%;
}

.clear-row {
  clear: both;
}

h3 {
  font-family: Lato, Helvetica, sans-serif;
  font-style: normal;
  margin-left: 10px;
}
