<mat-toolbar>
  <div class="logo">
    <span [routerLink]="['home']" >
    <img src="assets/images/booking_logo.png" alt="Logo"/>
    </span>
  </div>

  <div>
    <button [routerLink]="['/login']" class="button-right" id="loginBtn" mat-raised-button>LogIn</button>
    <button [routerLink]="['/registration']" class="button-right" id="signUpBtn" mat-raised-button>SignUp</button>
    <button [routerLink]="['manage-account']" class="button-right" id="manageAccountBtn" mat-raised-button>My Account</button>
    <button [routerLink]="['accommodation-details']" class="button-right" id="accommodationDetailsBtn" mat-raised-button>Accommodation Details</button>
    <button [routerLink]="['create-accommodation']" class="button-right" id="createAccommodationBtn" mat-raised-button>Create Accommodation</button>

<!--    &lt;!&ndash;    <button routerLink="['ni jedan koji pokusam ne radiii hh']" > </button>&ndash;&gt;-->
<!--    <button [routerLink]="['/registration']"  style="float: right" mat-raised-button color="accent">SignUp</button>-->

  </div>
  <span>
    <input type="search" id="site-search" name="q" />
    <button name="searchButton" id="searchBtn">Search</button>
  </span>
</mat-toolbar>
