mat-toolbar {
  background-color:#5656a1;   /*rgba(222, 170, 51, 0.89);*/
  height: 60px;
}

div {
  width: 100%;
  justify-content: flex-end;
}

button {
  margin-right: 10px;
  background-color: aliceblue;
}

input
{
  margin-right: 10px;
}

.logo {
  margin: 2px;
  padding-top: 10px;
}

img
{
  width: 40px;
  height: 40px;
  horiz-align: center;
  vertical-align: center;
}
